<div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Select the item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'orders' request.user.id %}" method="POST" >
              {% csrf_token %}
              <div class="mb-3">
                <div class="mb-3">
                  <select name='item' class="form-select" aria-label="Default select example">
                    <option selected> Items </option>
                    {% for items in menuItems  %}
                    <option >{{items}}</option>
                    {% comment %} <input type="text" hidden name='item_id' value="{{items.id}}"> {% endcomment %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>

        </div>
        
      </div>
    </div>
</div>