<!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myInfoModal">
  Launch demo modal
</button> {% endcomment %}
<!-- Modal -->
{% comment %} <div class="modal fade" id="myInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action" role="tab">Name: {{request.user.user_name}} {{request.user.last_name}}</a>
          <a class="list-group-item list-group-item-action" role="tab">Name: {{request.user.email}}</a>
          <a class="list-group-item list-group-item-action" role="tab">Name: {{request.user.phone_number}}</a>

        </div>
      </div>
    </div>
  </div>
</div>
</script> {% endcomment %}